* {
	margin: 0px;
	padding: 0px;
}
html {
	width: auto;
	height: auto;
}
body {
	width: auto;
	height: 100%;
}
body.ie, body.ie6 {
	height: auto;
}
body {
	background-color:#ffffee;
	color:#443333;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
	/* background-image:url('./dora.gif'); */
	word-break: break-all;
	position: relative;
	overflow: auto;
}
body.ie {
	overflow: visible;
}
@media screen and (max-width: 400px) {
    body {
		font-size: 75%;
    }
}
a:link{
	font-weight: normal;
	color: #0000FF;
	text-decoration:none;
}
a:hover {
	font-weight: normal;
	color: #FF0000;
	text-decoration:underline;
}
a:visited {
	font-weight: normal;
	color: purple;
}
#header {
	text-align : left;
	font-size:120%;
	width:100%;
	border-bottom: solid 1px #888;
	padding-bottom: 12px;
}
#header .headlist {
	margin-left: 10px;
}
#subject {
	margin: 10px 0px 10px 0px;
}
#resbodys .thumbnails {
	margin-left: -10px;
	width: 100%;
}
#resbodys .thumbnails img {
	max-width: 300px;
	max-height: 400px;
	float: left;
	margin: 10px 0px 10px 10px;
}
#footer, #resparams, #size {
	margin: 10px;
}
#footer > hr {
	margin: 5px 0px 5px 0px;
}
#e-mail {
	width: 200px;
}
#name {
	width: 260px;
}
#message {
	margin-top: 8px;
	width: 600px;
}
#submit {
	margin-top: 8px;
}
#response-window-wrapper {
	position: fixed;
	top: 0px;
	left: 0px;
}
body.ie6 #response-window-wrapper {
	position: absolute;
	top: expression(body.scrollTop);
	left: 0px; */
}
#response-window-wrapper .inner {
	position: relative;
}
#response-window {
	position: absolute;
	top: 0px;
	width: 500px;
	height: auto;
	border-radius: 5px 5px 5px 5px;
	padding: 20px 5px 10px 5px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	background-color: white;
	overflow: hidden;
	display: none;
}
#response-html {
	position: relative;
	width: 480px;
	height: auto;
	padding: 0px 5px 0px 5px;
}
#response-window-footer {
	position: relative;
	width: 490px;
	height: 12px;
}
#response-window-close {
	position: absolute;
	top: 6px;
	right: 0px;
	margin: -0.5em 0px 0px 0px;
	width: 36px;
	height: 12px;
	cursor: pointer;
}
@media screen and (max-width: 400px) {
	#message {
		width: 300px;
	}
	#response-window > div {
		width: 280px;
		font-size: 11px;
	}
	#response-window-html {
		width: 260px;
	}
	#response-window-footer {
		width: 280px;
	}
	#e-mail {
		width: 75px;
	}
	#name {
		width: 90px;
	}
	#footer {
		font-size: 90%; 
	}
	#resbodys dd {
		-webkit-margin-start: 0px;
		padding: 0px 10px 0px 10px;
	}
}
img{
	border:none;
	display:inline;
}

h1{
	font-size:200%;
	font-weight:normal;
	color:red;
}

dt {
	/* color: #433; */
	font-weight: normal;
	font-size: 100%;
	/*margin: 2px 0 0 3px;*/
}
dd {
	/*margin: 2px 0 18px 3em;*/
	margin-bottom:18px;
	padding-left: 40px;
}
dt, h1 {
	padding-left: 10px;
}
span.name{
	color: green;
}
span.info{
	/* color: #433; */
	font-size: 90%;
}
span.headlist{
	font-size:80%;
}
