* {
	font-family:arial,sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}
h1 {
	margin-top: 32px;
}
div.errmsg {
	color: red;
	font-size: 14px;
}
div.msg {
	color: red;
	font-size: 14px;
}
#container {
	width: 400px;
}
#form {
	background-color: #DDDDDD;
	border-style: double;
	border-color: black;
	border-width: 4px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 8px;
	margin-bottom: 12px;
}
#back {
	text-align: right;
}
#form div {
	width: 240px;
}
#form .head {
	padding: 2px;
}
div.text input {
	width: 240px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
#submit {
	text-align: right;
	margin-top: 12px;
}
#capcreate {
	text-align: right;
}
