* {
	font-family:arial,sans-serif;
	margin: 0px;
	padding: 0px;
}
#container {
	width: 600px;
}
#container .head {
	width: 480px;
	background-color: #DDDDDD;
	border-style: solid;
	border-color: black;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
}
#container div.line {
	width: 480px;
	border-style: dobule;
	border-color: black;
	border-top-width: 0px;
	border-bottom-width: 3px;
	border-left-width: 0px;
	border-right-width: 0px;
}
#capcreate div.space {
	margin-top: 2px;
	margin-bottom: 2px;
}
#logout {
	text-align: right;
	margin-top: 4px;
}
#back {
	text-align: left;
	margin-right: 12px;
}

.form {
	background-color: #EEEEEE;
	padding-top: 8px;
	padding-bottom: 8px;
	border-style: double;
	border-color: black;
	border-width: 4px;
	margin-top: 12px;
}
#capselect {
	margin-top: 8px;
	width: 480px;
}

#capselect select {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	width: 480px;
}
#capdelete {
	margin-top: 8px;
	width: 480px;
}

#capdelete select {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	width: 480px;
}
#bbsmng {
	text-align: left;
	padding-bottom: 4px;
	border-style: solid;
	border-color: black;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	width: 500px;
}
#capmng {
	text-align: left;
	padding-bottom: 4px;
	border-style: solid;
	border-color: black;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	width: 500px;
}
div.line {
	border-style: double;
	border-color: black;
	border-top-width: 0px;
	border-bottom-width: 3px;
	border-left-width: 0px;
	border-right-width: 0px;
	margin-top: 12px;
	margin-bottom: 12px;
	width: 540px;
}
